{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    {% trans "Головна сторінка" %}
{% endblock %}
{% block body %}
    {{ projects|json_script:"projects-info" }}
    <main>
        <div class="container-fluid position-relative ">
            <div class="fullscreen-bg__video p-0 ">
                <video loop muted autoplay poster="{% static "reua/img/video-screenshot.png" %}">
                    <source src="{% static "reua/video/MARIUPOL_DRAMTEATR_BZ.mp4" %}" type="video/mp4">
{#                    <source src="{% static "reua/video/MARIUPOL_DRAMTEATR_BZ.webm" %}" type="video/webm">#}
                </video>
            </div>
            {% include "parts/slide1.html" %}
        </div>
        <div class="container-fluid">
            {% include "parts/slide2.html" %}
        </div>
        <div class="container-fluid">
            {% include "parts/slide3.html" %}
        </div>
        <div class="container-fluid">
            {% include "parts/footer.html" %}
        </div>
    </main>
    {% include "parts/payment.html" %}
    {{ block.super }}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "reua/js/helper.js" %}"></script>
{% endblock %}

{% block onbodyload %}
    PaymentHelper.init();
{% endblock %}