{% load i18n %}

<div class="text-center text-lg-start mb-4 ">
    <address class="mb-0">
        {{ address.addr_title }}
    </address>
    <div class="fw-bold">
        {% trans "тел." %}
        <a href="{{ address.phone.as_rfc3966 }}" class="link-dark text-decoration-none">
            {{ address.phone.as_international }}
        </a>
    </div>
</div>

<ul class="list-unstyled row" style="margin-bottom: -.5rem">
    {% for cd in consituents_docs %}
        <li class="col-xxl-6 col-lg-12 col-6 mb-2 ">
            <a href="{{ cd.file.url }}"
               class="d-flex _overflow-hidden text-body text-decoration-none"
               style="height: 2rem"
{#               _download="{{ cd.file.name }}" #}
               target="_blank">
                <div>
                    {% if cd.type == "pdf" %}
                        <i class="fa-solid fa-file-pdf fa-2x"></i>
                    {% else %}
                        <i class="fa-solid fa-file-circle-question"></i>
                    {% endif %}
                </div>
                <div class="flex-grow-1 ps-1 text-start d-flex align-items-center ">
                    {{ cd.title }}
                </div>
            </a>
        </li>
    {% endfor %}
</ul>
