{% load i18n %}

<div class="text-start mb-2">
    <address class="mb-0">
        {{ address.addr }}
    </address>
    <div>
        {% trans "тел." %}
        <a href="{{ address.phone.as_rfc3966 }}" class="link-dark text-decoration-none">
            {{ address.phone.as_international }}
        </a>
    </div>
</div>

<ul class="list-unstyled row mb-0">
    {% for cd in consituents_docs %}
        <li class="d-block col-xxl-6 col-12">
            <a href="{{ cd.file.url }}" class="link-dark text-decoration-none" download="{{ cd.file.name }}">
                <div class="card d-flex flex-row bg-transparent border-0 mt-2">
                    <div class="px-1 py-0 d-flex align-items-end justify-content-center">
                        {% if cd.type == "pdf" %}
                            <i class="fa-solid fa-file-pdf fa-2x"></i>
                        {% else %}
                            <i class="fa-solid fa-file-circle-question"></i>
                        {% endif %}
                    </div>
                    <div class="card-body flex-grow-1 px-1 py-0 text-start align-items-center d-flex">
                        {{ cd.title }}
                    </div>
                </div>
            </a>
        </li>
    {% endfor %}
</ul>
