{% load i18n %}

<div class="small mb-3 d-lg-block d-none">
    {% trans "Зв’язатись з нами та підписатися на нас можна:" %}
</div>
<div class="mb-3 d-lg-none d-block">
    {% trans "Зв’язатись з нами та підписатися на нас можна:" %}
</div>
<div class="d-flex gap-1 flex-lg-column flex-row flex-grow-1 justify-content-start justify-content-xxl-between">
    <a href="mailto://{{ address.email }}"
       class="btn btn-outline-dark w-100 {% if not address.email %} disabled {% endif %}">
        <i class="fa-solid fa-envelope fa-lg"></i>
    </a>
    <div class="d-flex gap-1 justify-content-between">
        <a href="{{ address.facebook }}" class="btn btn-dark px-2 {% if not address.facebook %} disabled {% endif %}"  target="_blank">
            <i class="fa-brands fa-facebook-f fa-lg fa-fw"></i>
        </a>
        <a href="{{ address.instagram }}" class="btn btn-dark px-2 {% if not address.instagram %} disabled {% endif %}"  target="_blank">
            <i class="fa-brands fa-instagram fa-lg fa-fw"></i>
        </a>
        <a href="{{ address.telegram }}" class="btn btn-dark px-2 {% if not address.telegram %} disabled {% endif %}"  target="_blank">
            <i class="fa-solid fa-paper-plane fa-lg fa-fw"></i>
        </a>
    </div>
</div>