{% load i18n %}
{% load static %}

<div class="text-center footer text-body landing_row row ">
    <div class="landing_col d-flex ">
        <div class="mx-5 mt-auto text-block ">
            <img src="{% static "reua/img/footer_logo.png" %}" alt="reUA" class="w-100"/>
        </div>
        <div>
            <address>
                {% trans "м. Київ, вул. Попудренка, 34" %}
            </address>
            {% trans "тел."%}<a href="tel://+380956788844">+38 095 678 88 44</a>
            <a href="#">
                {% trans "Договір публічної оферти" %}
            </a>
            <a href
        </div>
        <div class="ms-auto mt-auto" style="width: 167px">
            <div class="small mb-3">
                Зв’язатись з нами та підписатися на нас можна:
            </div>
            <a href="mailto://info@reua.com.ua" class="btn btn-sm btn-outline-dark w-100 position-relative mb-2">
                <div class="position-absolute" style="top: 0; left: 50%">
                    <i class="fa-solid fa-envelope d-block fa-lg" style="margin: -50% 0 0-50% ;"></i>
                </div>
                {% trans "info@reua.com.ua" %}
            </a>
            <div class="d-flex gap-1 justify-content-between w-100">
                <a href="#" class="btn btn-dark px-2">
                    <i class="fa-brands fa-facebook-f fa-lg fa-fw"></i>
                </a>
                <a href="#" class="btn btn-dark px-2">
                    <i class="fa-brands fa-instagram fa-lg fa-fw"></i>
                </a>
                <a href="#" class="btn btn-dark px-2">
                    <i class="fa-solid fa-paper-plane fa-lg fa-fw"></i>
                </a>
            </div>
        </div>
        </div>
</div>
