{% load static %}
{% load i18n %}
<div class="offcanvas offcanvas-start bg-warning offcanvas-payment" tabindex="-1" id="payment-select-project">
    <div class="d-flex mx-2">
        <button type="button" class="btn _btn-close text-reset ms-auto" data-bs-dismiss="offcanvas"
                aria-label="Close">
            <i class="fa-solid fa-xmark fa-2x"></i>
        </button>
    </div>
    <div class="offcanvas-header text-block mx-auto ">
        <img src="{% static "reua/img/footer_logo.png" %}" alt="reUA logo" class="w-100"/>
    </div>
    <div class="offcanvas-body mt-5 text-block mx-auto">
        <h3 class="fw-normal ">{% trans "Оберіть категорію внеску" %}</h3>
        <ul class="list-unstyled d-flex flex-column gap-4">
            {% for proj in projects %}
                <li>
                    <a href="#payment-select-payment-type" data-bs-toggle="offcanvas"
                       class="btn btn-light text-uppercase w-100 text-uppercase fw-500 p-3 {% if proj.disabled %} disabled {% endif %}"
                       data-project="{{ proj.identity }}"
                    >
                        {{ proj.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="offcanvas offcanvas-start bg-dark offcanvas-payment" tabindex="-1" id="payment-select-payment-type">
    <div class="d-flex mx-2">
        <a href="#payment-select-project" data-bs-toggle="offcanvas" class="btn btn-dark ms-auto">
            <i class="fa-solid fa-arrow-left fa-2x"></i>
        </a>
        {#        <button type="button" class="btn btn-dark ms-auto" data-bs-dismiss="offcanvas"#}
        {#                aria-label="Close">#}
        {#            <i class="fa-solid fa-xmark fa-2x"></i>#}
        {#        </button>#}
    </div>
    <div class="offcanvas-header text-block mx-auto ">
        <img src="{% static "reua/img/logo.png" %}" alt="reUA logo" class="w-100"/>
    </div>
    <div class="offcanvas-body mt-5 text-block mx-auto">
        <h3 class="fw-normal text-white">{% trans "Оберіть категорію внеску" %}</h3>
        <ul class="list-unstyled d-flex flex-column gap-4">
            <li>
                <a href="https://reua.pay.whitepay.com/?fiat=true"
                   class="btn btn-light text-uppercase w-100 text-uppercase fw-500 p-3"
                   data-payment_type="credit_card"
                >
                    {% trans "Кредитна карта" %}
                </a>
            </li>
            <li>
                <a href="#bank_acc_payment" __data-bs-toggle="offcanvas"
                   class="btn btn-light text-uppercase w-100 text-uppercase fw-500 p-3"
                   data-payment_type="bank_account"
                >
                    {% trans "Банківський переказ" %}
                </a>
            </li>
            <li>
                <a href="#" class="btn btn-light text-uppercase w-100 text-uppercase fw-500 p-3"
                   data-payment_type="paypal"
                >
                    PayPal
                </a>
            </li>
            <li>
                <a href="https://reua.pay.whitepay.com/"
                   class="btn btn-light text-uppercase w-100 text-uppercase fw-500 p-3"
                   data-payment_type="crypto"
                >
                    {% trans "Криптовалюта" %}
                </a>
            </li>
        </ul>
        <div class="form-check text-white">
            <input class="form-check-input" type="checkbox" value="" id="public_offer_agree">
            <label class="form-check-label" for="flexCheckChecked">
                {% trans "Я погоджуюсь з умовами" %}
                <a href="{{ public_offer_url }}" class="text-decoration-none text-warning" target="_blank">
                    {% trans "договору публічної оферти" %}
                </a>
            </label>
            <div class="invalid-feedback">
                Ви повинні погодитися перед внесенням коштів.
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start bg-dark offcanvas-payment" tabindex="-1" id="bank_acc_payment">
    <div class="d-flex mx-2">
        <a href="#payment-select-payment-type" data-bs-toggle="offcanvas" class="btn btn-dark ms-auto">
            <i class="fa-solid fa-arrow-left fa-2x"></i>
        </a>
    </div>
    <div class="offcanvas-header text-block mx-auto ">
        <img src="{% static "reua/img/logo.png" %}" alt="reUA logo" class="w-100"/>
    </div>
    <div class="offcanvas-body mt-5 text-block mx-auto">
        <h3 class="fw-normal text-white">{% trans "Оберіть зручний метод оплати" %}</h3>
        <div class="accordion" id="bank_acc_payment_accordion">
            {% for t in transfers %}
                <div class="accordion-item" data-project="{{ t.project_identity }}">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#transfer-{{ t.id }}"
                                aria-expanded="false"
                                aria-controls="transfer-{{ t.id }}">
                            {{ t.currency }}
                        </button>
                    </h2>
                    <div id="transfer-{{ t.id }}" class="accordion-collapse collapse"
                         data-bs-parent="#bank_acc_payment_accordion">
                        <div class="accordion-body">
                            {% for t_item in t.items %}
                                <dl>
                                    {% if t_item.bank %}
                                        <dt>{% trans "Банк" %}</dt>
                                        <dd>{{ t_item.bank }}</dd>
                                    {% endif %}
                                    {% if t_item.mfo %}
                                        <dt>{% trans "МФО" %}</dt>
                                        <dd>{{ t_item.mfo }}</dd>
                                    {% endif %}
                                    {% if t_item.account %}
                                        <dt>{% trans "Рахунок №" %}</dt>
                                        <dd>{{ t_item.account }}</dd>
                                    {% endif %}
                                    {% if t_item.edrpou %}
                                        <dt>{% trans "Код єдрпоу" %}</dt>
                                        <dd>{{ t_item.edrpou }}</dd>
                                    {% endif %}
                                    {% if t_item.payee %}
                                        <dt>{% trans "Отримувач" %}</dt>
                                        <dd>{{ t_item.payee }}</dd>
                                    {% endif %}
                                    {% if t_item.bic %}
                                        <dt>Beneficiary bic</dt>
                                        <dd>{{ t_item.bic }}</dd>
                                    {% endif %}
                                    {% if t_item.beneficiary_address %}
                                        <dt>Beneficiary address</dt>
                                        <dd>{{ t_item.beneficiary_address }}</dd>
                                    {% endif %}
                                    {% if t_item.correspondent_bank_name %}
                                        <dt>Correspondent bank name</dt>
                                        <dd>{{ t_item.correspondent_bank_name }}</dd>
                                    {% endif %}
                                    {% if t_item.correspondent_bank_bic %}
                                        <dt>Correspondent bank bic</dt>
                                        <dd>{{ t_item.correspondent_bank_bic }}</dd>
                                    {% endif %}
                                    {% if t_item.purpose %}
                                        <dt>{% trans "Призначення платежу" %}</dt>
                                        <dd>{{ t_item.purpose }}</dd>
                                    {% endif %}
                                </dl>
                                <hr/>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
