{% load i18n %}
{% load static %}

<div class="px-0 landing_block row" id="slide2">
    <div class="col col-12 col-lg-6 landing_col d-none d-lg-block  pb-4">
        <div class="mx-auto text-left text-block d-flex flex-column justify-content-between h-100">
            <p class="mb-3 text-start lead">
                {% blocktrans %}
                    <b>6 млн людей в Україні</b> щодня ведуть боротьбу за доступ до питної води
                {% endblocktrans %}
            </p>
            {#            <p class="mb-3 text-start lead">#}
            {#                {% blocktrans %}#}
            {#                    <strong>З квітня 2022</strong> маріупольці втратили доступ до чистої питної води#}
            {#                {% endblocktrans %}#}
            {##}
            {#            </p>#}
            <a href="#payment-select-payment-type" data-bs-toggle="offcanvas" data-project="water"
               class="btn btn-dark p-3 w-100 text-uppercase fw-500 mt-5">
                {% trans "Зробити внесок" %}
            </a>
        </div>
    </div>
    <div class="col col-12 col-lg-6 landing_col bg-white pb-0">
        <div class="mx-auto text-left text-block">
            <div class="text-primary">
                <h2 class="text-uppercase fw-bold mb-5">
                    {% trans "Доступ до питної води в неокупованих територіях" %}
                </h2>
                <h4 class="mb-4">
                    {% trans "Очисні системи для будь-яких умов місцевості" %}
                </h4>
            </div>
            <div>
                <p>
                    {% blocktrans %}
                        Дії російського агресора в Україні підтвердили на практиці, що об’єкти
                        водопостачання
                        часто стають прямими або опосередкованими об’єктами для ударів із різних видів
                        зброї.
                        У населених пунктах, які постраждали від агресії, питна вода є одним із найгостріших
                        питань гуманітарної катастрофи.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
    <div class="col col-12 col-lg-6 landing_col  d-none d-lg-block">
    </div>
    <div class="col col-12 col-lg-6 landing_col bg-white">
        <div class="mx-auto text-left text-block">
            <div>
                <img class="d-block mx-auto mb-5 w-100" src="{% static "reua/img/water_machine.png" %}" alt="">
                <p>
                    {% blocktrans %}
                        <b>Мобільна водоочисна установка «БС-100»</b> вирішує проблему забезпечення чистою питною водою
                        населення у випадку пошкодження центрального водопостачання.
                    {% endblocktrans %}
                </p>
                <p>
                    {% blocktrans %}
                        Технологічне ноу-хау системи враховує унікальні умови кожного населеного пункту та
                        передбачає очищення вхідної води з будь-якого джерела водопостачання будь-якого ступеню
                        забрудненості.
                    {% endblocktrans %}
                </p>
                <a href="#payment-select-payment-type" data-bs-toggle="offcanvas" data-project="water"
                   class="btn btn-dark p-3 w-100 text-uppercase fw-500 mt-5 text-warning  d-block d-lg-none ">
                    {% trans "Зробити внесок" %}
                </a>

                <a href="#" class="btn btn-outline-dark p-3 w-100 text-uppercase fw-500 mt-4 mt-lg-5 d-none ">
                    {% trans "Технічні характеристики" %}
                    <i class="fa-solid fa-arrow-up" data-fa-transform="rotate-45"></i>
                </a>
            </div>
        </div>
    </div>
</div>
