{% extends "base.html" %}
{% load i18n %}
{% block body %}

    <form method="post" action="{% url "donation" %}">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <label for="{{ form.amount.id_for_label }}" class="form-label">{{ form.amount.label }}</label>
        <div class="input-group {% if form.amount.errors or form.currency.errors %}is-invalid{% endif %}">
            <input
                    type="number"
                    class="form-control flex-fill {% if form.amount.errors %}is-invalid{% endif %}"
                    id="{{ form.amount.id_for_label }}"
                    name="{{ form.amount.html_name }}"
                    value="{{ form.amount.initial }}"
            >
            <select
                    class="form-select flex-grow-0 w-auto {% if form.currency.errors %}is-invalid{% endif %}"
                    id="{{ form.currency.id_for_label }}"
                    name="{{ form.currency.html_name }}"
                    value="{{ form.currency.initial }}"
            >
                {% for s in form.currency.subwidgets %}
                    {{ s }}
                {% endfor %}
            </select>
        </div>
        {% if form.amount.errors or form.currency.errors %}
            <div class="invalid-feedback">
                {{ form.amount.errors }}
                <hr/>
                {{ form.currency.errors }}
            </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">{% trans "Сделать пожертовавание" %}</button>
    </form>
{% endblock %}
